version: "3.8"

services:
  db:
    image: postgis/postgis:15-3.3
    container_name: sports-tracker_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sportsdb
    volumes:
      - pgdata:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: sports-tracker_minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"   # MinIO API
      - "9001:9001"   # MinIO Console
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - miniodata:/data

  adminer:
    image: adminer
    container_name: sports-tracker_adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  pgdata:
  miniodata:
